p {
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
}

p, a, form, input {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #dddddd;
}

.site-header {
    height: 80px;
    border-bottom: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
}

.content {
    width: 960px;
    margin: 0 auto;
}
#first {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4aaaa5;
    color: white;
    float: left;
    

}

nav {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 0px 0 0px;
    float: right;
    
    color: #777777;
}

nav ul {
    text-align: center;
    border-left: 10px;
    list-style: none;
    
}
nav ul li {
    display: inline-block;
    padding: 0 15px;
}

li:nth-child(1) {
    border-right: 1px solid #cccccc;
}

li:nth-child(3){
    border-left: 1px solid #cccccc;
    padding-right: 0;
}
    

.about {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 20px;
    height: 75px;
    width: 250px;
    color: #4aaaa5;
    
    float: left;
}

hr {
    width: 900px;
}

.main {
    width: 960px;
    
    margin: 0 auto;

    border: 1px solid #cccccc;
    text-align: left;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff;
    
}

.mainport {
    min-height: 710px;
}

.profile {
    float: left;
    width: 200px;
    height: auto;
    
    
    
}
img {
    align-content:
    
}
.description {
    padding-top: 25px;
    
    text-align: left;
    padding-bottom: 20px;
}

.min {
    min-height: 100%;
    
    
}

.images {
   margin-left: 10px;
    
    
    
}
.pim {
    width: 33.3%;
    float: left;
    padding-top: 10px;
    height: 200px;
}

.pim:nth-child(7-9) {
    padding-bottom: 20px;
}

.pim p {
    padding-top: 10px;
    position: relative;
    bottom: 50px;
    left: -10px;
    text-align: center;
    background-color: #4aaaa5;
    height: 30px;
    color: white;
    font-weight: bold;
}

form {
    padding-top: 10px;
    padding-left: 10px;
    line-height: 24px;
    

}
input {
    padding-left: 5px;
}
#name, #email {
    border: 1px solid;
    height: auto;
}

#msg {
    width: 910px;
    border: 1px solid;
    padding-bottom: 200px;
}

/* input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

input[type=text]:focus {
    border: 3px solid #4aaaa5;
}

input[name="name"]:focus {
    width: 910px;
}
input[name="email"]:focus {
    width: 910px;
} */


input[type=button], input[type=submit], input[type=reset] {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 8px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}  


footer {
    border-top: 8px solid #4aaaa5;

    text-align: center;
    max-width: none;
    width: 100%;
    
   
    height: 50px;
    margin-top: 20px;
    padding-bottom: 10px;
   
    background-color: #666666;
    color: white;
    content: ""; 
    display: block;
    clear: both;
}
@media only screen and (max-width: 980px) {
    #first {
        width: ;
        margin-left: 20px;
        text-align: center;
        padding: ;
    }
    nav {     
        float: ;
        padding:15px 20px 0 0;
        background-color: white;      
    }
    .navi{
        width: 100%;
        background-color: white;
    }
    .main{
        width: 728px;
        border: none;
        margin: 20px;
        margin-top: 30px;
        min-height: 75%;
    } 
    .content {
        width: 768px;
        border: none;
    }
    hr {
        width: 688px;
    }
    .description{
        padding-right: 10px;
    }
    img {
        width: 100%; 
        height: auto;
    }
    .profile {
        width: 40%;
        height: auto;
    }
    #name, #msg, #email {
        width: 95%;
    }
    .pim {
        width: 50%;
        height: auto;
        padding: 0;
        background-color: white;
        
    }

    .pim img {
        height: 300px;
        
    }

    .pim p {
        width: 90%;
        left: 0;
        margin: 0;
        padding-left:0;
        margin-left: 5%;
        bottom: 75px;
        align-content: center;
        
    }

    .pimp {
        margin-bottom: 50px;
    }

    .images {
        background-color: white;
        margin: 20px 0 0 0px ;
        padding: 0;
        min-height: auto;
        width: 728px;
    }

    footer {
    
        width: 100%;
    }
}     
}
@media only screen and (max-width: 768px) {
    #first {
        width: ;
        margin-left: 20px;
        text-align: center;
        padding: ;
    }
    nav {     
        float: ;
        padding:15px 20px 0 0;
        background-color: white;      
    }
    .navi{
        width: 100%;
        background-color: white;
    }
    .main{
        width: 728px;
        border: none;
        margin: 20px;
        margin-top: 30px;
        min-height: 75%;
    } 
    .content {
        width: 768px;
        border: none;
    }
    hr {
        width: 688px;
    }
    .description{
        padding-right: 10px;
    }
    img {
        width: 100%; 
        height: auto;
    }
    .profile {
        width: 40%;
        height: auto;
    }
    #name, #msg, #email {
        width: 95%;
    }
    .pim {
        width: 50%;
        height: auto;
        padding: 0;
        background-color: white;
        
    }

    .pim img {
        height: 300px;
        
    }

    .pim p {
        width: 90%;
        left: 0;
        margin: 0;
        padding-left:0;
        margin-left: 5%;
        bottom: 75px;
        align-content: center;
        
    }

    .pimp {
        margin-bottom: 50px;
    }

    .images {
        background-color: white;
        margin: 20px 0 0 0px ;
        padding: 0;
        min-height: auto;
        width: 728px;
    }

    footer {
    
        width: 100%;
    }
}    
@media only screen and (max-width: 640px) {
    #first {
        width: 640px;
        margin: auto;
        text-align: center;
        padding: 0;
    }
    nav {
        padding: 0;
        float: left;
        padding-left: 0;
        background-color: white;
        padding-right: 60px;
        width: 580px;
        
    }
    .navi{
        width: 100%;
        background-color: white;
    }
    .main{
        width: 600px;
        border: none;
        margin: 20px;
        margin-top: 80px;
        
       
    }
    .mainport {
        height: auto;
        
    }
    
    .content{
        width: 640px;
        border: none;
    }
    hr {
        width: 600px;
    }
    img {
        /* My placeholder img is too long/skinny to mimic
        the template image 100%, it just looked odd */
        width: 100%; 
        height: auto;
    }
    .profile {
        width: 40%;
        height: auto;
    }

    #name, #msg, #email {
        width: 95%;
    }

    .pim {
        width: 100%;
        height: auto;
        padding: 0;
        background-color: white;
        
    }

    .pim img {
        height: 300px;
        
    }

    .pim p {
        width: 90%;
        left: 0;
        margin: 0;
        padding-left:0;
        margin-left: 5%;
        bottom: 75px;
        align-content: center;
        
    }

    .pimp {
        margin-bottom: 50px;
    }

    .images {
        background-color: white;
        margin: 20px 0 0 0px ;
        padding: 0;
        min-height: auto;
        width: 600px;
    }
    footer {
    
        width: 100%;
    }
    
}


